.hero-banner {
  &__background {
    padding-top: calc(9 / 16 * 100%);
    position: relative;
    overflow: hidden;
    contain: content;

    @screen lg {
      padding-top: calc(6 / 18 * 100%);
    }

    img {
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;
      inset: 0;
    }

    &::before {
      position: absolute;
      content: '';
      inset: 0;
      background: rgba(0, 0, 0, 0.40);
      z-index: 10;
    }
  }

  &__overlay {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    position: absolute;
    color: white;
    z-index: 50;
    left: 50%;
    top: 50%;
  }

  &__title {
    @screen lg {
      font-size: 2rem;
      line-height: 2.5rem;
    }

    + p {
      margin-top: .5rem;
    }
  }

  &__link {
    position: absolute;
    inset: 0;
    z-index: 20;
  }
}
