<table class="panel {{ type?? '' }}" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="panel-content">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="panel-item">
                        {% block content %}{% endblock %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
