{% extends 'layouts/app.twig' %}

{% block content %}
    <main class="">
        {% do action('woocommerce_before_single_product') %}

        {% do action('bookish/template/product/before-content', product) %}

        <div class="container product-content vertical-spacing">
            {% do action('bookish/template/product/content', product) %}

            <!-- TODO: Dynamische USPS -->
            <!-- TODO: Content block -->
        </div>


        {% do action('bookish/template/product/after-content', product) %}

        <!-- TODO: Gerelateerde producten -->
        
        <div hidden class="container">
            <section class="related-products vertical-spacing">
                <h2 class="mb-14">{{ __('Gerelateerde producten', 'bookish') }}</h2>

                <div class="products-list">
                    {% for related in product.related_products %}
                        {% do action('bookish/template/product-card', product) %}
                    {% endfor %}
                </div>
            </section>
        </div>
    </main>
{% endblock %}
