@use 'assets/styles/abstracts/templates';
@use 'assets/styles/abstracts/variables/colors';
@use 'sass:color' as sc;

header.header {
  $brandElement: '.brand-logo';
  $brandLogo: '.brand-logo__img';

  --wr-hamburger-color: #{colors.$primary};
  --wr-hamburger-width: 1.5rem;

  background: sc.adjust(colors.$white, $alpha: -0.25);
  backdrop-filter: blur(15px);

  position: sticky;
  z-index: 50;
  top: 0;

  border-bottom: 1px solid sc.adjust(colors.$primary, $alpha: -0.75);

  transition: box-shadow 0.3s ease-in-out, border-bottom-width 0.3s ease-in-out;

  &.headroom--not-top {
    @apply shadow-2xl;

    border-bottom: none;

    .shopping-cart-button {
      color: colors.$white;

      &::after {
        transition-timing-function: ease-in;
        transform: translate(0);
      }
    }
  }
}
