<a href="{{ get_cart_url() }}"
   class="ml-auto shopping-cart-button"
   id="mini-cart-app"
   aria-label="Winkelmandje"
   tabindex="1"
>
    <span class="hidden lg:inline-block">Winkelmandje</span>
    <i class="fad fa-shopping-bag"></i>
</a>