{% macro search_form() %}
    <div class="pre-search-form"></div>
    <noscript>
        <form class="search-form" action="{{ site.link }}">
            <input type="hidden" name="post_type" value="product" id="post_type">
            <label for="autoComplete" class="sr-only">
                Zoeken naar
            </label>
            <input type="text"
                   placeholder="Waar ben je naar op zoek?"
                   tabindex="1"
                   id="autoComplete" name="s" autocomplete="off">
            <button class="btn search-icon" type="submit" name="Zoeken" aria-label="Zoeken">
                <i class="fad fa-search text-primary"></i>
            </button>
        </form>
    </noscript>
{% endmacro %}
