@use 'assets/styles/abstracts/variables' as av;
@use 'sass:color';

.pagination {
  display: flex;
  justify-content: flex-end;

  .pagination-button {
    display: none;

    padding: .5rem 1rem;
    line-height: 1;
    cursor: pointer;
    border-radius: 40px;
    transition: all 225ms ease;

    &:not(.next) {
      margin-right: .5rem;
    }

    &:hover {
      background: color.scale(av.$primary, $alpha: -55%);
      color: av.$black;
    }

    &.current {
      background: av.$primary;
      color: av.$white;
    }

    &.next,
    &.prev {
      display: block;
    }
  }

  @screen lg {
    .pagination-button {
      display: block;
    }
  }
}

