@use 'assets/styles/abstracts/variables';
@use 'sass:color';

.categories-cta {
  display: grid;
  grid-template-areas: "title title title title" "bl bl bl bl" "br br br br" ;
  grid-gap: 1rem;

  > .cta-title {
    grid-area: title;
    text-align: center;
  }

  .category-cta {
    &:first-of-type {
      grid-area: bl;
    }

    &:last-of-type {
      grid-area: br;
    }
  }

  @screen md {
    grid-template-areas: "title title title title" "bl bl br br";
  }

  @screen lg {
    grid-template-areas: ". title title title title . " ". bl bl br br .";
  }
}

.category-cta {
  position: relative;

  > figcaption {
    position: absolute;
    bottom: 0;
    padding-block: 1rem;
    padding-inline: .75rem;
    color: variables.$white;
    background-color: color.scale(variables.$primary);
    width: 100%;
  }

  > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }

  img {
    @screen lg {
      object-fit: cover;
      width: 100%;
    }
  }
}
