@use 'assets/styles/abstracts/variables/colors';
@use 'sass:color' as sc;

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;

  &__image {
    aspect-ratio: 1/1;
    @apply rounded-lg shadow;
  }

  &__body {
    @apply shadow-lg rounded-b-lg overflow-hidden;
    position: relative;
    z-index: 1;
    margin-inline: 2rem;
    transform: translateY(-3rem);
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &__inner {
      flex: 1 0;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      background: colors.$white;
    }
  }

  &__label {
    @apply rounded-t-lg;
    background: sc.adjust(colors.$primary, $alpha: -0.6);
    color: colors.$white;
    backdrop-filter: blur(2rem);
    display: block;
    padding-inline: 1.5rem;
    padding-block: .75rem;
  }

  &__title {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  &__price {
    margin-top: auto;
    margin-bottom: 1.5rem;

    del {
      color: sc.adjust(colors.$black, $lightness: 40%);
    }

    ins {
      text-decoration: none;
    }
  }
}