{% import "components/checkout.html.twig" as checkout_base %}
<section class="coupon-toggle">
    <form class="checkout_coupon woocommerce-form-coupon" method="post">
        {{ checkout_base.coupon_code }}
    </form>
</section>
