{% do action('woocommerce_before_checkout_form', checkout) %}

<form action="{{ cart_url }}"
      name="checkout"
      method="POST"
      enctype="multipart/form-data"
      class="checkout woocommerce-checkout">

    <section class="lg:flex">
        {% if checkout.get_checkout_fields %}
            <div class="lg:w-2/3 mr-16" id="customer_details">
                {% do action('woocommerce_checkout_before_customer_details') %}
                <section id="customer_details" class="customer-details">
                    {% do action('woocommerce_checkout_billing') %}
                </section>

                <section id="shipping_details" class="shipping-details">
                    {% do action('woocommerce_checkout_shipping') %}
                </section>
                {% do action('woocommerce_checkout_after_customer_details') %}
            </div>
        {% endif %}

        <div class="lg:w-1/3 lg:ml-auto">
            {% do action('woocommerce_checkout_before_order_review_heading') %}

            <h3 id="order_review_header" class="order-review-heading">
                {{ __('Your order', 'woocommerce') }}
            </h3>

            {% do action('woocommerce_checkout_before_order_review') %}

            <section id="order_review" class="woocommerce-checkout-review-order checkout-review-order">
                {% do action('woocommerce_checkout_order_review') %}
            </section>

            {% do action('woocommerce_checkout_after_order_review') %}
        </div>
    </section>
</form>

{% do action('woocommerce_after_checkout_form', checkout) %}
