.actions {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .coupon {
    display: flex;
    align-items: center;
    flex: 1 0 40%;

    input {
      @apply shadow-none;
      max-width: 16rem;
      width: 200px;

      @screen lg {
        width: 100%;
      }
    }
  }
}

.cart-collaterals {
  display: flex;

  .cart_totals {
    margin-left: auto;
  }
}

.cart-subtotal {
  text-align: left;
}
