.about_paypal {
  display: none;
}

.payment_method_paypal {
  img {
    display: none;
  }
}

.place-order {
  margin-top: 1rem;
}

.mailchimp-newsletter {
  margin: 1rem 0;
}

.MuiButton-text.block {
  display: block;
}
