@use 'sass:color' as sc;
@use 'assets/styles/abstracts/variables/colors';
@use 'assets/styles/abstracts/functions';

.product-sidebar {
  grid-column: 1 / -1;
  padding: 1.5rem;
  position: sticky;
  top: 10rem;
  @apply space-y-8;
  @apply rounded-lg;
  @apply shadow-xl;
  background: colors.$white;

  @screen lg {
    grid-column: 9 / 13;
  }

  .label {
    background: functions.theme-color('purple-10');
    border: 1px solid functions.theme-color('purple-30');
    color: functions.theme-color('white');
    display: inline flow-root;
    padding: .125rem .75rem;
    order: 3;
    margin-inline-start: auto;
    font-weight: 400;
    @apply rounded;
  }

  &__price-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-variant-numeric: tabular-nums;
    @apply text-2xl;
    font-weight: 700;

    ins,
    del {
      text-decoration: none;
    }

    ins {
      order: 1;
    }

    del {
      @apply text-base;
      order: 2;
      color: colors.$dark;
      opacity: 0.5;
      font-weight: 400;
      text-decoration: line-through;
    }
  }

  &__stock {
  }

  .stock {
    @apply hidden;
  }

  .cart {
    .quantity {
      @apply col-span-1;
      @apply hidden;
    }

    .single_add_to_cart_button {
      transition: background-color 0.2s ease-out, color 0.3s ease-out;
      display: block;
      background: functions.theme-color('green');
      color: functions.theme-color('green', 1);
      width: 100%;
      border: none;

      &:hover {
        transition: background-color 0.2s ease-in, color 0.3s ease-in;
        background: sc.adjust(functions.theme-color('green'), $lightness: -10%);
        color: functions.theme-color('white');
      }
    }
  }
}
