@use 'assets/styles/abstracts/variables' as av;

.product-sidebar {
  padding-inline: 1rem;
  padding-block: 1rem;

  @screen lg {
    border: 1px solid rgba(av.$black, 0.2);
    border-radius: .25rem;
    align-self: flex-start;
  }

  .product-price {
    display: flex;
    color: av.$black;
    margin-block-end: 1rem;
  }

  label[for^="pa_"] {
    display: block;
    margin: 2rem 0 1rem;
  }

  select {
    display: block;
  }
}

.product-add-to-cart {
  border: 1px solid av.$green;
  background: av.$green;
  color: av.$white;
  padding: .5rem;
  margin: 1rem 0;
  display: block;
}
