@use 'sass:color' as sc;
@use 'assets/styles/abstracts/variables/colors';

.product-sidebar {
  grid-column: 1 / -1;
  padding: 1.5rem;
  @apply space-y-8;
  @apply rounded-lg;
  @apply bg-white;
  @apply shadow;

  @screen lg {
    grid-column: 9 / 13;
  }

  .label {
    background: colors.$primary;
    color: colors.$white;
    display: inline flow-root;
    padding: .125rem .75rem;
    order: 3;
    margin-inline-start: auto;

    @apply rounded;
  }

  &__price-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-variant-numeric: tabular-nums;

    ins,
    del {
      text-decoration: none;
    }

    ins {
      @apply text-2xl;
      order: 1;
      font-weight: 700;
    }

    del {
      @apply text-base;
      order: 2;
      color: colors.$dark;
      opacity: 0.5;
    }
  }
}

.alert {
  background: colors.$secondary;
  border: colors.$dark;
  padding: .5rem 1.25rem;
  @apply rounded;
  border: 1px solid darken(colors.$secondary, 30%);
}