$white: hsl(0, 100%, 100%) !default;
$black: hsl(0, 0%, 13%) !default;
$dark: hsl(284, 57%, 12%) !default;
$gray: hsl(0, 0%, 89%) !default;
$green: hsl(163, 67%, 48%) !default;
$red: hsl(357, 100%, 55%) !default;
$yellow: hsl(47, 100%, 68%) !default;
$purple: hsl(265, 83%, 45%) !default;

$primary: $purple !default;
$primary-invert: $white !default;

$secondary: $yellow !default;
$secondary-invert: $black !default;

$colors: (
        'white': ($white, $black),
        'black': ($black, $white),
        'dark': ($dark, $white),
        'gray': ($gray, $black),
        'green': ($green ,$black),
        'yellow': ($yellow, $black),
        'red': ($red, $black),
        'purple': ($purple, $white),
) !default;
$theme-colors: (
        'primary': ($primary, $primary-invert),
        'secondary': ($secondary, $secondary-invert)
) !default;

$colors: map_merge($colors, $theme-colors);
